/* Register your custom font family and tell the browser where to find it. */
@font-face {
    font-family: 'RaineFont';
    src: url('/fonts/Raine_font_that_fucks-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
:root {
    --max-width: 1100px;
    --border-radius: 12px;
    --font-mono: RaineFont, Menlo, Monaco, 'Cascadia Mono', 'Segoe UI Mono',
      'Roboto Mono', 'Oxygen Mono', 'Ubuntu Monospace', 'Source Code Pro',
      'Fira Mono', 'Droid Sans Mono', 'Courier New', monospace;
  }
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'RaineFont', sans-serif;
  }
  href{
    color:inherit;
    text-decoration:none;
  }
  html,
  body {
    max-width: 100vw;
    overflow-x: hidden;
  
  }
  
  body {
    background-image: url("/style_img/grid.svg");
    background-repeat: repeat-y repeat-x;
  
  }
  button {
    background:white;
    padding:0.5rem 0.5rem;
    margin:0 0.5rem;
    font-size:1.25rem;
  
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    border-bottom-right-radius: 225px 15px;
    border-bottom-left-radius:15px 255px;
    box-shadow:2px 8px 4px -1px hsla(0,0%,0%,.3);
  }
  
  button:hover{
  box-shadow:2px 8px 4px -6px hsla(0,0%,0%,.3);
  cursor: pointer;
  }
  button.lined.thick{
  border:solid 3px #41403E;
  }
  button.dotted.thick{
  border:dotted 3px #41403E;
  }
  button.dashed.thick{
  border:dashed 3px #41403E;
  }
  button.lined.thin{
  border:solid 2px #41403E;
  }
  button.dotted.thin{
  border:dotted 2px #41403E;
  }
  button.dashed.thin{
  border:dashed 2px #41403E;
  }
  .top_nav{
    margin-top:10px;
    height: 150px;
    margin-bottom: 20px;
  }
  .top_nav_item
  {
    font-size: medium;
  }
  .content_nav{
    width: 80%;
    margin:auto;
    text-align: center;
    margin-bottom: 15px;
  }
  .hide
  {
    display: none;
  }
  .content_preview_list{
    position: relative;
    margin:auto;
    list-style: none;
    padding-left: 0px;
    width: 80%;
    max-width: 600px;
  
  
  }
  .content_preview_list li{
    margin: 5px;
    margin-bottom: 90px;
  }
  .parent-for-absolute
  {
    position:relative;
    min-height: 125px;
  }
  .right
  {
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
    position: absolute;
    right:0px;
    top:-80px;
    height: 150%;
  }
  .parent-for-absolute:hover > .right{
    top:-100px;
    height: 160%;
    -webkit-transition: all .4s ease;
      -moz-transition: all .4s ease;
      -ms-transition: all .4s ease;
      -o-transition: all .4s ease;
      transition: all .4s ease;
  }
  .latestPopout{
    transition: all .4s ease;
    position: relative;
    display: block;
    z-index:-1;
    left:20px;
    bottom:10px;
    width:50%;
  }
   
  .date
  {
    margin-top:15px;
    color:gray;
    font-size: medium;
  }
  .content_preview_list li button{
  
    width: 100%;
    height: 100%;
    text-align: left;
    border: 5px solid magenta;
  
  }
  .subparagraph
  {
    width:50%;
  }
  
  .centerContent
  {
    text-align: center;
  }
  .content_display_panel
  {
    margin:10px;
    padding:5px;
    display: inline-block;
    max-width:700px;
    text-align: center;
    font-size:1.5rem;
    background-color: white;
    -webkit-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.26);
    margin-bottom: 50px;
  }
  .content_display_panel img{
    max-width: 100%;
    height: auto;
  }
  .left-align-text
  {
    text-align: left;
    padding: 5px;
  }
  
  .logo
  {
    position: absolute;
    right:10px;
    height:60px;
  }
  .subtitle
  {
    max-width: 65%;
  }
  a {
    color: inherit;
    text-decoration: none;
  }
  .footer{
    width: 33%;
    margin:auto;
    margin-top:20px;
    text-align: center;
  }