---
const pageTitle = "About Me";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/meta.astro";

---

<html lang="en">
    <Meta/>
    <Navigation/>
    <body>
    <div class="centerContent">
        <div class="content_display_panel">
     
            <span> 
            <img src="/style_img/me.png"/>
            <p class="left-align-text">Hello. I made all of this and put it on the internet so I could see what it looked like. If you would like to read it then you should do so under advisement that I do not spell-check my work.</p></li>
            </span>
           <p class="left-align-text">I would explain the name of the site, but it would take far too long.</p>
    
            
            <span>
            <img src="/style_img/port8.png"/>
            <p class="left-align-text">Please direct any questions to this robot. Thank you.</p>
            </span>
            
        </div>
            <Footer/>
            </div>
        </body>
</html>