---
const pageTitle = "About Me";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/meta.astro";

---


<html lang="en">

    <Meta/>
    
    <Navigation/>
    <body>

 <div class="centerContent">
        <div class="content_display_panel">

        <img src="/assets/20250810-fixedsplash.jpg" alt="Image of Lisa drawing on a table and thinking about her characters."">
    <div class="left-align-text">
        <h3>About Lisa</h3><br />
        <p>Lisa (she/they) is currently studying for an MFA in Comics at the California College of the Arts. She graduates July 2027.
        She lives on Camano Island, WA with her girlfriend <b><a href="https://absolutelyprobablynot.com">Raine</a></b> and their three corgis.</p><br />
        <p>She loves to read and draw about sci-fi, queer romance and memoir.  During the day, she works at a video game studio.
        Her dream is to open a Comics Library & Workshop in the Seattle area.</p><br />
        <p>You can reach Lisa at <b><a href="mailto:dahllm@gmail.com">dahllm@gmail.com</a></b> or <b>Dahllm</b> on Discord and <a href="https://instagram.com/dahllm">Instagram</a>!</p><br />
        <h3>Conventions</h3><br />
        <p><li>Pride in Panels, San Francisco, CA (February 2026) - Applying</li>
        <li><i>Vancouver Comics & Arts Festival, Vancouver, Canada (May 2024) - Exhibited</i></li></p><br />
         <img src="/assets/vancaf2024.jpg" alt="A picture of my convention table in 2023 VanCAF.">
   
   
    </div>
    
        </div> 
            <Footer/>
       </div>
        </body>
</html>


<!-- <div class="grid-container">
    <!-- Row 1: image left, text right
    <img src="/assets/20250810-fixedsplash.jpg" alt="Image of Lisa drawing on a table and thinking about her characters."">
    <div class="left-align-text">
        <h3>About Lisa</h3>
        <p>Lisa (she/they) is currently studying for an MFA in Comics at the California College of the Arts. She graduates July 2027.</p><br /><br />
        <p>She loves to read and draw about sci-fi, queer romance and memoir.  During the day, she works at a video game studio.</p><br /><br />
        <p>Lisa currently lives in Camano Island, WA with her girlfriend <b><a href="https://absolutelyprobablynot.com">Raine</a></b> and their three corgis.</p>
    </div>
        <!-- Row 2: text left, image right
    <div class="left-align-text">
        <p>Her dream is to open a Comics Library & Workshop in the Seattle area.</p><br /><br />
        <p>You can reach Lisa at <b><a href="mailto:dahllm@gmail.com">dahllm@gmail.com</a></b> or <b>Dahllm</b> on Discord and <a href="https://instagram.com/dahllm">Instagram</a>!</p><br /><br />
        <h3>Conventions</h3>
        <li>Pride in Panels, San Francisco, CA (February 2026) - Applying</li>
        <li><i>Vancouver Comics & Arts Festival, Vancouver, Canada (May 2024) - Exhibited</i></li>
    </div>
    <img src="/assets/vancaf2024.jpg" alt="A picture of my convention table in 2023 VanCAF.">
        
        </div>
  </div> -->