---
const pageTitle = "About Me";
import Navigation from "../components/Navigation.astro";
import Footer from "../components/Footer.astro";
import Meta from "../components/meta.astro";

---

<!-- Adding Libertinus Sans font 08/09/2025 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

<html lang="en">

    <Meta/>
    <Navigation/>
    <body>
    <div class="centerContent">
        <div class="content_display_panel">
     
            <span> 
            <img src="/assets/logo.png"/>
            <p class="left-align-text">I love to draw.</p></li>
            </span>
           <p class="left-align-text libertinus-sans-regular">I love my dogs.</p>
    
            
            <span>
            <p class="left-align-text">and my girlfriend.</p>
            </span>
            
        </div>
            <Footer/>
            </div>
        </body>
</html>