---
const {title, link, subtitle, imgTitle, lastUpdated} = Astro.props;

//console.log({ title, link, subtitle, imgTitle, lastUpdated }); // Logs all at once
---
<li class = "comic_preview ">
   
    <a href={link} class="comic_link_wrapper">
        <img src={imgTitle} class="comic_previewImage" />
    </a>

    <div class="latestPopout">   
        <p class="date">{lastUpdated}</p>
    </div>
</li>