---
import "../styles/global.css";
---
<header class="top_nav">
   <!-- <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata"></link> -->

   <a class="top_nav_item interactable_background" href="/">HOME</a>

   <a class="top_nav_item interactable_background" href="/comics">COMICS</a>
   <a class="top_nav_item interactable_background" href="/illustrations">ILLUSTRATIONS</a>

<!-- Adding Libertinus Sans font 08/09/2025 -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Libertinus+Sans:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">

        

   <img class="logo"src="/assets/logo.png"/>
</header>
