---
import "../styles/global.css";
---
<header class="top_nav">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata"></link>

   <a class="top_nav_item interactable_background" href="/">Home</a>

   <a class="top_nav_item interactable_background" href="/about">About</a>


        

   <img class="logo"src="/assets/logo.png"/>
</header>
