---
import "../styles/global.css";
---
<header class="top_nav">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inconsolata"></link>

   <a class="top_nav_item" href="/">
       <button class="lined thick">
           <h1 class="">Home</h1>
       </button>
    </a>
   <a class="top_nav_item" href="/about">
       <button class="lined thick">
           <h1 >About</h1>
       </button>
    </a>
   <img class="logo"src="/style_img/logo.png"/>
</header>
